<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="x" type="System.Diagnostics.TextWriterTraceListener" initializeData="ConsoleApplication1.exe.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
<!--
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
-->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>