<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EWS" value="url"/>
    <add key="emailaddress" value="addr"/>
    <add key="access" value="none"/>
    <add key="to" value="one|two"/>
    <add key="bcc" value="one|two"/>
  </appSettings>
  
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="x" type="System.Diagnostics.TextWriterTraceListener" initializeData="ConsoleApplication1.exe.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
