<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--
  <configSections>
    <section name ="WnConfigurationSection" type="TelemetrySpec.WnConfigurationSection, TelemetrySpec"/>
  </configSections>

  <WnConfigurationSection>
    <Parts>
      <Part Name="name1" Provider="ProviderAssembly.Provider1, ProviderAssembly" />
      <Part Name="name2" Provider="Provider2, Provider2Assembly" />
    </Parts>
  </WnConfigurationSection>
-->
</configuration>